
$ff-barlow: "Barlow", sans-serif;
$ff-bellefair: "Bellefair", serif;
$ff-condensedBarlow: "Barlow Condensed", sans-serif;


$ffs-400: 400;
$ffs-500: 700;
$ffs-700: 700;


$bg-dark: hsl(230, 35%, 7%);
$bg-white: hsl(0, 0%, 100%);
$bg-purplishBlue: hsl(231, 77%, 90%);


$fs-150: 9.375rem;
$fs-100: 6.25rem;
$fs-56: 3.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-26: 1.625rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
